@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));

}

/* index */

/* section-navbar */

.hero2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav2{
    width: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 120px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 1s;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 12px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #600;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #000;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #fcf8f5, #a9a9a9);
    cursor: pointer;
}

.contact-left button img{
    height: 15px;
}

.contact-right img{
     width: 500px;
}

@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

.navEle li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
}

.navEle li a:hover{
    font-size: 21px;
    color: rgb(247, 226, 137);
}

li a.active{
    color: yellow;
  }

/* section-main */
.img img{
    width: 100%;
    height: 300px;
}

.mainText{
    margin-top:20px ;
    text-align: center;
    color: blue;
}

h2{
   font-size: 60px;
}

h3{
  font-size: 45px;
}

/********** notice.html ***********/

.form2{
    width: 500px;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px #000 ;
    border-radius: 10px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
}


h4{
    font-size: 23px;
    font-weight: 500;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input2{
    padding: 8px 0 ;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0;
    border-bottom: 2px solid rgb(241, 241, 43);
    background-color: transparent;
    outline: none;
}


input:placeholder-shown{
    letter-spacing: 2px;
    font-size: 15px;
}

.form-control label{
    font-size:23px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 7px;
}
.submit{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px #000;
    background-color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.submit:hover{
    background-color: #fff;
    box-shadow: 0 0 10px rgb(241, 241, 43);
    transition: all 0.5s;
    border: 2px solid rgb(241, 241, 43);
}

.notices{
    width: 100%;
    display: flex;
    padding: 3rem 2rem 2rem 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    background: #fff;
    padding: 1rem 1.5rem 1rem;
    width: 32rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 1rem 2rem;
}

.card h3{
    font-size: 23px;
    padding-bottom: 7px;
    position: relative;
    display: inline;
}

.card p{
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 1rem 0;
}
.card h3::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 6px;
    left: 0;
    background: rgb(180, 180, 0);
}

.del{
    width: 100px;
    height: 40px;
    padding: 15px;
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(241, 241, 43);
    color: rgb(66, 65, 65);
}

.del:hover{
    background: darkgoldenrod;
    transition: all 0.4s;
    color: #fff;
}


/********* que.html **********/


#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.quebtn{
    padding: 7px 12px;
    border-radius: 5px;
    background-color: rgb(54, 141, 153);
    color: #fff;
    border: none;
}

.quebtn:hover{
    background-color: rgb(103, 180, 180);
}